.App {
  margin: 20px;
}

h2 {
    padding-top: 20px;
    padding-bottom: 10px;
}

.sql {
    padding-top: 40px;
}

.dialectSelect {
  margin: 20px 0 20px 0;
}

.expressionInput {
  display: block;
  width: 100%;
  font-size: 18px;
}

input {
    padding-bottom: 20px;
}
