body {
  background-color: #d7d9ce;
  color: #040404;
}

header {
  padding-top: 10px;
  padding-bottom: 40px;
}

.App {
  width: 60%;
  margin: auto;
}

.expression {
  display: flex;
}

.bindings {
  margin-bottom: 40px;
}

.subtitle {
  padding-bottom: 5px;
}

.dialect {
  margin-bottom: 15px;
}

.code {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
